<!doctype html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>{{session["name"]}} give us your 3 favorites flavors</h1> <!-- uses the user session data, in this case the name -->
    <form action="#" method="post"> <!-- creating a action with the "post" method -->
        <p>Flavour 1: <input type="text" name="flav1" /></p> <!-- store the user data in a box text -->
        <p>Flavour 2: <input type="text" name="flav2" /></p> <!-- store the user data in a box text -->
        <p>Flavour 3: <input type="text" name="flav3" /></p> <!-- store the user data in a box text -->
        <p><input type="submit" name="submit_button" value="submit"/> <!-- submit the user data in the boxes text, the type "text" -->
            <input type="submit" name="logout_button" value="logout"/></p> <!-- button to submit the "logout" value for the user to logout -->
    </form>
</body>
</html>