<!doctype html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>{{session["name"]}} give us your 3 favorites flavors</h1>
    <form action="#" method="post">
        <p>Flavour 1: <input type="text" name="flav1" /></p>
        <p>Flavour 2: <input type="text" name="flav2" /></p>
        <p>Flavour 3: <input type="text" name="flav3" /></p>
        <p><input type="submit" name="submit_button" value="submit"/>
            <input type="submit" name="logout_button" value="logout"/></p>
    </form>
</body>
</html>